.DS_Store
.env
.envrc
.git
.github
.gcloudignore
backend/dist
backend/public/assets/application.css
backend/public/assets/application.js
backend/public/assets/fingerprinted
backend/public/assets/fingerprints.json
content
infra
node_modules
public
static
tmp
vendor
