.git
.github
.gcloudignore
.DS_Store
.env
.envrc
node_modules
tmp
backend/dist
backend/public/assets/application.css
backend/public/assets/application.js
backend/public/assets/fingerprinted
backend/public/assets/fingerprints.json
content
infra
public
static
vendor
