<div class="container mx-auto px-4 pt-8 md:pt-16 pb-24 md:pb-16" style="flex: 1; max-width: 600px">
  <div class="border-t border-gray-200 dark:border-gray-700">
    <%- include('../../partials/chirps_feed', { chirpGroups }) %>
  </div>
</div>
