<div class="container mx-auto px-4 mt-6 md:mt-16 pb-24 md:pb-16 max-w-2xl" style="flex: 1">
  <div class="flex flex-col gap-3 mb-10 md:mb-14">
    <h1 class="text-4xl sm:text-5xl font-bold font-heading tracking-tighter text-neutral-950 dark:text-neutral-50">
      Chirps
    </h1>
  </div>

  <%- include('../../partials/chirps_feed', { chirpGroups }) %>
</div>