<div class="container mx-auto mt-6 md:mt-8 px-4">
  <nav class="flex justify-center overflow-hidden">
    <!-- <div class="hidden sm:flex"> -->
    <div class="sm:flex">
      <ul class="flex items-center">
        <li class="mr-2 md:mr-4">
          <a class="inline-block text-violet-600 hover:bg-gray-50 rounded-l-full rounded-r-full px-4 py-3 transition-colors" href="/">Home</a>
        </li>
        <li class="mr-2 md:mr-4">
          <a class="inline-block text-violet-600 hover:bg-gray-50 rounded-l-full rounded-r-full px-4 py-3 transition-colors" href="/posts">Posts</a>
        </li>
        <li class="mr-2 md:mr-4">
          <a class="inline-block text-violet-600 hover:bg-gray-50 rounded-l-full rounded-r-full px-4 py-3 transition-colors" href="/chirps">Chirps</a>
        </li>
        <li class="mr-2 md:mr-4">
          <a class="inline-block text-violet-600 hover:bg-gray-50 rounded-l-full rounded-r-full px-4 py-3 transition-colors" href="/shelf">Shelf</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
