<html>
  {% render 'head' %}

  <body class="flex flex-col bg-white dark:bg-gray-900" style="min-height: 100vh;">
    {% render 'header' %}

    <div class="container mx-auto px-4 max-w-none prose-h1:text-center sm:mt-12" style="flex: 1">
      <div class="[&_h1:first-child]:mb-16 prose sm:prose-lg dark:prose-invert relative" style="text-align: left; overflow-wrap: break-word;">
        <a href="/" class="block sm:hidden mb-8">
          <img src="/images/square-profile-photo.jpg" alt="Nisanth Chunduru" class="w-24 h-24 rounded-full mx-auto">
        </a>
        <a href="/" class="hidden sm:block float-right ml-4 mb-6">
          <img src="/images/square-profile-photo.jpg" alt="Nisanth Chunduru" class="w-32 h-32 rounded-full">
        </a>
        {{ html }}
      </div>
    </div>

    {% render 'footer' %}
  </body>
</html>
