<html>
  {% render 'head' %}

  <body class="flex flex-col" style="min-height: 100vh;">
    {% render 'header' %}

    <h1 class="text-center text-5xl font-bold mt-16 mb-16">Shelf</h1>
    <div class="container mx-auto px-4 max-w-none prose-h1:text-center" style="flex: 1">
      <div class="[&_h1:first-child]:mb-16 prose sm:prose-lg" style="text-align: left; overflow-wrap: break-word;">{{ html }}</div>
    </div>

    {% render 'footer' %}
  </body>
</html>
